.first{
    display: inline-flex;
    position: relative;
    top: 85px;
    left: 22%;
    font-size: 50px;
    font-family: 'Robot', sans-serif;
}
.firsts{
    font-weight: 700;
}
.firstss{
    font-weight: 100;
    font-size: 50px;
}
.material-icons-outlined{
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 40px;
    color: rgb(253, 72, 0);
}
a{
    text-decoration: none;
}
.second{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 40px;
    position:relative;
    right: -85%;
    top: 10px;
}
.grid{
    display: grid;
    font-family: 'Robot', sans-serif;
    grid-template-columns: 60px 60px 60px;
    column-gap: 250px;
    position: absolute;
    top: 30%;
    left: 300px;
}
.grid1{
    border: 2px solid rgb(206, 94, 15);
    height: 350px;
    width: 250px;
    border-radius: 12px;
    text-align: center;
    color: orangered;
    font-size: 24px;
    line-height: 60px;
    box-shadow: +3px +1px 12px gray;
}
.grid2{
    border: 2px solid rgb(206, 94, 15);
    height: 350px;
    width: 250px;
    border-radius: 12px;
    text-align: center;
    color: orangered;
    font-size: 24px;
    line-height: 60px;
    box-shadow: 3px 1px 8px gray;
}
.grid3{
    border: 2px solid rgb(206, 94, 15);
    height: 350px;
    width: 250px;
    border-radius: 12px;
    text-align: center;
    color: orangered;
    font-size: 24px;
    line-height: 60px;
    box-shadow: 3px 1px 8px gray;
}
.gs{
    text-decoration: line-through;
}
.col{
    color: black;
}
input{
    height: 20px;
    width: 20px;
}
.next{
    background-color: orangered;
    color: aliceblue;
    border: 1px solid orangered;
    border-radius: 10px;
    width: 90px;
    position: absolute;
    height: 30px;
    right:10%;
    bottom: 4%;
    font-family: sans-serif;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}
.next:active{
    background-color:white;
    color: black;
}
.blur{
    width: 100%;
    height: 98vh;
    filter: blur(5px);
}
.popup{
    height: 180px;
    width: 380px;
    border: 2px solid orange;
    border-radius: 20px;
    box-shadow: 2px 2px 8px gray;
    z-index:1;
    position: absolute;
    top: 44%;
    left: 44%;
    font-family: sans-serif;
    display: flex;
    background-color: white;
    color: orangered;
    line-height: 40px;
    font-size: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    position: absolute;
    width: 250px;
}
.add{
    text-align: center;
}
button{
    border: 1px solid orangered;
    background-color: orangered;
    width: 84px;
    border-radius: 20px;
    color: aliceblue;
    cursor: pointer;
    font-size: 20px;
    height: 29px;
}